//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
$Fw-extraBold: 800;

//Font Family

$Ff-primary: 'Roboto', sans-serif;

//Colors

$Clr-primary-Tomato: hsl(4, 100%, 67%);
$Clr-neutral-Dark-Slate-Grey: hsl(234, 29%, 20%);
$Clr-neutral-Charcoal-Grey: hsl(235, 18%, 26%);
$Clr-neutral-Grey: hsl(231, 7%, 60%);
$Clr-neutral-White: hsl(0, 0%, 100%);
